.aplayer-body{
    opacity: 0;
    background-color: var(--background-color) !important;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: var(--font-color);
    border-top: 1px solid var(--background-color) !important;
    animation: fade-in 0.6s ease-in-out forwards;
}

.aplayer.aplayer-fixed .aplayer-miniswitcher {
    background-color: var(--background-color);
}

.aplayer.aplayer-narrow .aplayer-body{
    padding: 10px 30px 10px 10px !important;
}

.aplayer.aplayer-fixed .aplayer-body{
    padding: 10px 15px 10px 10px;
    box-sizing: content-box;
}

.aplayer-fixed .aplayer-body{
    box-sizing: border-box;
}

.aplayer-pic{
    border-radius: 10px;
}

.aplayer-icon-lrc, .aplayer-icon-loop{
    display: none !important;
}

.aplayer.aplayer-fixed .aplayer-info {
    border-top: none !important;
}

.aplayer .aplayer-info .aplayer-music .aplayer-author {
    color: var(--font-secondary-color) !important;
}

.aplayer .aplayer-miniswitcher .aplayer-icon path {
    fill: var(--font-secondary-color) !important;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path {
    fill: var(--font-secondary-color) !important;
}

.aplayer.aplayer-narrow .aplayer-body{
    left: -88px;
}

.aplayer-body:hover{
    left: 0px !important;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
